* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../İmg/bomba.webp);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.container i{
  color: black;
}
.container h1 {
  font-size: 5rem;
  color: mediumslateblue;
}
.container span {
  font-size: 2rem;
  background-color: blueviolet;
  color: black;
  padding: 1rem 2rem;
}
